export GIT_REPO="git@gitlab.com:cloud-native-osm/shared/osm-gitops-operations.git"
export GIT_SSHKEY="$(cat ~/.ssh/id_rsa|base64 -w 0)"
export GIT_MANIFEST_FOLDER="pre-requirements/flux/templates/sw-catalogs/infra-controllers/crossplane/controller/manifests"
